body {
  color: rgb(68,68,68);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}

.preview {
  background: url(../fashion_blog_part2.png);
  background-repeat: no-repeat;
}

#container {
  width: 90%;
  height: auto;
  position: relative;
  left: 35px;
}

header {
  position:absolute;
  top:55px;
  left:30px;
  width:600px;
}

aside {
  position:absolute;
  top:10px;
  left:360px;
  width:400px;
}

.navbar {
    background-color: black;
    height: 65px;
    overflow: auto;
    text-align: center;
    position:relative;
    top:125px;
    left:30px;
    width:100%;
}
.nav {
    color: white;
    display: inline;
    font-family: "Lato",sans-serif;
    font-size: 24px;
    font-weight: 300;
    height: 65px;
    margin: 15px;
    padding: 14px;
    position: relative;
    top: 25px;
}
.nav a {
    color: white;
    text-decoration: none;
}

.button {
  color: rgb(242, 0, 43);
  font-size: 55px;
  font-weight: 300;
  text-decoration: none;
}

article {
    position: relative;
    padding: 20px;
    top: 500px

    float: left;
}

section {
  margin-left: 60%;
}

.boxed {
    float: left;
    width: 300px;
    height: 250px;
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
}

.box a {
    color: rgba(67,67,67,0.9);
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    margin-left: 100px;
    margin-right: 120px;
    padding: 100px;
}

h2 {
  color: black;
  font-family: "Lato",sans-serif;
  font-size: 34px;
  font-weight: 300;
  text-decoration: none;
}

h3 {
  color: rgba(204,204,204,0.9);
  font-size: 35px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

h4 {

}

h5 {
  color: rgba(67,67,67,0.9);
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

p {
  color: rgba(67,67,67,0.9);
  font-size: 18px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

.next {
  color: rgba(242, 0, 43, 0.9);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
